@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@1,200&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #0d1b2a;
    display: flex;
    flex-direction:  column;
    color: gray;
    align-items: center;
    height: 100vh;
    justify-content: center;
    font-family: sans-serif;
}

.select_container {
    margin: 10px 0;
    

}

.select_container select {
    background-color: greenyellow;
    border: 0;
    border-radius:  8px;
    font-size: 15px;
    margin-left: 10px;
    padding: 5px 15px 5px 15px;
}

.seat {
    
    background-color: #87BCDE;
    height: 15px;
    width: 15px;
    margin: 5px;
    margin-right: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
}

.row {
    display: flex;
}

.seat.selected {
    background-color: indigo;
}

.seat.occupied {
    background-color: lightcoral;
}

.seat:nth-of-type(2) {
    margin-right: 35px;
}

.seat:nth-last-of-type(2) {
    margin-left: 35px;
}

.seat:not(.occupied):hover {
    cursor: pointer;
    transform: scale(2);
}

.legend .seat:hover {
    cursor:  default;
    transform: scale(1);
}

.legend {
    
    background-color: rgba(0, 0, 0,1);
    padding:  5px 10px;
    border-radius: 5px;
    list-style-type: none;
    display: flex;
    justify-content:  space-around;
    
}

.legend li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

.legend small {
    margin-left: 3px;
    
}

.screen {
    margin:  20px;
    background-color: white;
    height: 100px;
    width: 0%;
    
    transform: rotateX(-45deg);
    box-shadow: 0 3px 10px rgba(255, 255,255, 0);
    
    
}

.screen video {
    transform: rotateX(-45deg);
    margin-bottom: auto;
    margin: -50px;
    
    align-items: center;
    margin-left: auto;
    margin-right: auto;
} 

.container {
    perspective:  1500px;
    
}

p.totals span{
    color:  #87BCDE;
}